.main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3EFCC;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 60%;
    min-width: 300px;
    min-height: 400px;
    background-color: #406343;
    color: white;
    box-shadow: 3px 3px 3px rgba(73, 73, 73, 0.466);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.title {
    margin-bottom: 25px;
}

.subTitle {
    margin-bottom: 10%;
}

.link {
    color: lightblue;
    text-decoration: underline;
    margin-left: 8px;
    cursor: pointer;
}

.fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.field {
    margin: 5px;
    background: rgba(255, 255, 255, 0.801);
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.411);
    border-right: 2px solid rgba(0, 0, 0, 0.411);
    border-radius: 5px;
    padding: 10px;
    width: 40%;
    min-width: 200px;
}

.field:focus{
    outline: none;
}

.btnCriar{
    cursor: pointer;
    padding: 8px 100px 8px 100px;
    background-color: black;
    box-shadow: 2px 2px 4px #b6b6b648;
    color: white;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.7s all ease;
    -webkit-transition: 0.7s all ease;
    -moz-transition: 0.7s all ease;
    -ms-transition: 0.7s all ease;
    -o-transition: 0.7s all ease;
}

.btnCriar:hover {
    background-color: #ECE7B4;
    color: black;
    transition: 0.7s all ease;
    -webkit-transition: 0.7s all ease;
    -moz-transition: 0.7s all ease;
    -ms-transition: 0.7s all ease;
    -o-transition: 0.7s all ease;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px 0px;
}

.dividerLine {
    border-bottom: 1px solid white;
    margin:3%;
    width: 30%;
}

.spacer {
    flex: 1 1 a
}